html, body {
    width: 100%;
    margin: 0%;
    font-family: 'Baloo Thambi', cursive;
    background-image: url("../images/cinema.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 0;
}

#container {
    width: 40%;
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(255, 215, 0, 0.9);
}

#description {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.form-group {
    margin: 20px;
}

label {
    display: flex;
    align-items: center;
}

.input-style {
    width: 100%;
    font-family: 'Baloo Thambi', cursive;
    padding: 10px 7px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
}

p {
    margin-bottom: 0;
    padding-bottom: 0;
}

select {
    padding: 7px;
    width: auto;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Baloo Thambi', cursive;
    font-size: 16px;
    color: grey;
}

textarea {
    font-family: 'Baloo Thambi', cursive;
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
}

#submit {
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Baloo Thambi', cursive;
    font-size: 16px;
    border: none;
}

@media only screen and (max-width:768px) {
    #container {
        width: 90%;
        margin: 10px auto;
        padding: 5px;
        background-color: rgba(255, 215, 0, 0.9);
    }
}